<section>
  <div class="container">
    <div class="nav-left">
      <ul>
        <li routerLink="/">
          <span>Accueil</span><span><i class="fa fa-home" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/web">
          <span>Web</span><span><i class="fa fa-code" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/skills">
          <span>Skills</span><span><i class="fa fa-folder-open" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/contact">
          <span>Contact</span><span><i class="fa fa-phone" aria-hidden="true"></i></span>
        </li>
      </ul>
    </div>
    <div class="cont_info_langage">
      <div class="info-persso">
        <div class="my-skills">
          <div class="langage" *ngFor="let info of info_langage; let i = index">
            <div class="logo-langage" [class.logo-langage-click]="style_btn_logo" (click)="look_langage(i)">
              <div><img [src]="info.url" alt="" /></div>

              <div>
                <p>{{ info.name_langage }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cont_defition">
        
        <div class="definition" [class.definition-block]="block_definition">
          <span>
            <h3>{{ langage?.name_langage }}</h3>
            <p>
              {{ langage?.definiton }}
            </p>
          </span>

        </div>
      </div>
    </div>
  </div>
</section>