<section>
  <div class="container">
    <div class="nav-left">
      <ul>
        <li routerLink="/">
          <span>Accueil</span
          ><span><i class="fa fa-home" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/web">
          <span>Web</span
          ><span><i class="fa fa-code" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/skills">
          <span>Skills</span
          ><span><i class="fa fa-folder-open" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/contact">
          <span>Contact</span
          ><span><i class="fa fa-phone" aria-hidden="true"></i></span>
        </li>
      </ul>
    </div>

    <!-- //------------------------------------------ -->
    <div class="cont_info_perso">
    <div class="info-persso">
      <!-- -----partie img et nom-------------- -->
      <div class="nom-photo">
        <div class="nom">
          <span class="my-name">
            <p>AHMADU BAMBA GAYE</p>
          </span>

          <span class="metier">
            <p>Developpeur web et web mobile</p>
          </span>
        </div>
        <div class="cont-photo">
          <div class="photo">
            <img
              src="../../assets/Bamba_LVMH-Frederic-Muzard-SDLR-5381-1005.jpg"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="biographie">
        <div class="cont-biograf">
          <div class="logo">
            <span><i class="fa fa-code" aria-hidden="true"></i></span>
          </div>
          <div class="info">
            <p>
              Développeur de logiciels avec des compétences solides en résolution de
              problèmes et une expérience dans la création et la conception de logiciels dans
              un environnement d'essai.
            </p>
          </div>
        </div>
      </div>

      <div class="reseau">
        <ul>
          <li>
            <a href="https://github.com/AhmaduLo"
              ><i class="fa fa-github" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/gbamba123/">
              <i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/bamba-gaye-/"
              ><i class="fa fa-linkedin-square" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- ----------------format mobile---------------- -->
<nav>
  <div class="container-nav">
    <div class="nav-left">
      <ul>
        <li routerLink="/">
          <span>Accueil</span
          ><span><i class="fa fa-home" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/web">
          <span>Web</span
          ><span><i class="fa fa-code" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/skills">
          <span>Skills</span
          ><span><i class="fa fa-folder-open" aria-hidden="true"></i></span>
        </li>
        <li routerLink="/contact">
          <span>Contact</span
          ><span><i class="fa fa-phone" aria-hidden="true"></i></span>
        </li>
      </ul>
    </div>

    <div class="cont-cont">
      <div class="container">
        <div class="name-profession">
          <span> <p>AHMADU BAMBA GAYE</p> </span>

          <span><p>Developpeur web et web mobile</p> </span>
        </div>

        <div class="definition-profession">
          <span>
            Développeur de logiciels avec des compétences solides en résolution de
            problèmes et une expérience dans la création et la conception de logiciels dans
            un environnement d'essai.
          </span>
        </div>

        <div class="contact">
          <p>Mail : gbamba123@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</nav>
