<nav>
    <div class="container-nav">
        <ul>
            
            <li routerLink="/acceuil"><span>Accueil</span><span><i class="fa fa-home" aria-hidden="true"></i></span></li>
            <li><span>Web</span><span><i class="fa fa-code" aria-hidden="true"></i></span></li>
            <li><span>Skills</span><span><i class="fa fa-folder-open" aria-hidden="true"></i></span></li>
            <li><span>Contact</span><span><i class="fa fa-phone" aria-hidden="true"></i></span></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>